<div class="container-fluid h-100">
  <div class="title text-right">
    <%= "#{year} #{month}월" %>
  </div>
  <div class="row text-center">
  <% weekdays.each do |weekday| %>
    <div class="col">
      <%= weekday %>
    </div>
  <% end %>
  </div>
  <% month_matrix.each do |week| %>
    <div class="row weekday-row text-center">
    <% week.each do |date| %>
      <div class="col day-card card">
        <div class="card-title">
          <%= date&.day %>
        </div>
        <% movies_count = movies_count(date) %>
        <% unless movies_count.zero? %>
          <div class="day-card-body card-body">
            <ul class="list-group">
              <button type="button" id="btn-<%= date %>" class="btn btn-primary" data-toggle="modal" data-target="#day-modal"  data-url="/movies/<%= date %>">
                <%= movies_count %>
              </button>
            </ul>
          </div>
          <%= render partial: 'day', locals: {date: date} %>
        <% else %>
          <% if date %>
          <a tabindex="0" data-trigger="hover" class="stretched-link" data-toggle="popover" data-trigger="click" title="<%= date.day %>일에 볼 영화" data-html="true" data-container="body" data-content='<%= render partial: 'new', locals: {date: date} %>'></a>
          <% end %>
        <% end %>
      </div>
    <% end %>
    </div>
  <% end %>
</div>
